body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle,#ffffff, #1e3c72);
    color: rgb(0, 0, 0);
}

.service-card {
    text-align: center; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.service-card image {
    max-width: 100px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    color: #ddd;
}

.footer-links {
    color: #ddd;
}

.footer-links a {
    margin: 0 10px;
    color: #ddd;
    text-decoration: none;
}
.footer-links a:hover {
    text-decoration: underline;
}
